This project aims to develop a machine learning algorithm that is capable of classifying images of the Magpie and Crow birds. The alorithm aims to distinguish the physical differences between the two species of birds.

At the moment of creating this document I have gathered roughly 250 images of each species of bird, each image is 32x32 pixels. In the future I will work on adding more to the list.

In [10]:
import pandas as pd
#Load dataset from the path
csf_file_path =r"Images\dataset.csv"

df = pd.read_csv(csf_file_path)

#Displays the head
print(df.head())

                 filename  label
0    crows\03c7cea31f.jpg  crows
1    crows\06a9c44c55.jpg  crows
2  crows\06G1CJJML5QT.jpg  crows
3    crows\08a181b048.jpg  crows
4    crows\08d39d0f4d.jpg  crows

In [14]:
#Shaping the dataset, result shows 493 rows and 2 columns
print(df.shape)

(493, 2)

In [15]:
print(df.describe)

<bound method NDFrame.describe of                      filename    label
0        crows\03c7cea31f.jpg    crows
1        crows\06a9c44c55.jpg    crows
2      crows\06G1CJJML5QT.jpg    crows
3        crows\08a181b048.jpg    crows
4        crows\08d39d0f4d.jpg    crows
..                        ...      ...
488  magpies\ZTIL3BSTB7S8.jpg  magpies
489  magpies\ZTLZN8INGMLF.jpg  magpies
490  magpies\ZWTIKNDZ3YOY.jpg  magpies
491  magpies\ZX4KEVCHKBM3.jpg  magpies
492  magpies\ZX9VCYL1S3WH.jpg  magpies

[493 rows x 2 columns]>

In [18]:
#Searching for NaN values in the dataset
print(df.isnull().sum())

filename    0
label       0
dtype: int64

In [19]:
#Column names
print(df.columns)

Index(['filename', 'label'], dtype='object')